@import 'reset';
@import 'family';
body {
    background-color: #f0f0f0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    & > ul {
        display: flex;
        flex-wrap: wrap;
    }
}
.section {
    margin: 15px;
    width: 350px;
    height: 366px;
    color: #2eb738;
    &:first-child {
        display: flex;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #2EB738;
        border-bottom: 1px solid #2EB738;
        p {
            &:first-of-type {
                font-size: 56px;
                line-height: 84px;
            }
            &:last-of-type {
                font-size: 24px;
            }
        }
    }
    & + .section {
        padding: 64px 40px;
        border-radius: 100px 0 30px 0;
        background-color: #fff;
        box-shadow: 0 3px 10px #d8d8d8;
        font-size: 24px;
    }
    ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-wrap: wrap;
    }
    li {
        @include first(4) {
            width: 152px;
        }
        @include last(4) {
            width: 118px;
        }
        text-align: left;
        &:first-child {
            padding-left: 10px;
            font-weight: bold;
            font-size: 128px;
        }
        &:nth-child(2) {
            margin-top: 0;
        }
        & + li {
            margin-top: 14px;
        }
    }
}